@import 
url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

*{
  /* margin: 0;
    padding: 0; */ 

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1{
    font-size: 50px;

}

header nav ul{
    display: flex;
    list-style: none;    
}
nav{
    
}

header ul li a {
    margin-left: 15px;
    text-decoration: none; 
    
}

section ul li{
    list-style: decimal;
}

